.online{
width:100%;
height: auto;}

body{
    background-color: #008000;
}
.h3{
    font-weight: 100;
}

.baju{
    font-weight: 100;
    
}

.banner{padding-left: 20px;
    border: 20px; color: aliceblue;
    text-align: center;
    min-width: fit-content;

}